

.search-conteiner{
    margin: 50px 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input-conteiner{
    width: 70%;
    align-items: center;
    height: 100%;
    display: flex;
    background-color: #7171823d;
    border-radius: 10px;
}

.search-icon{
    margin: 0 20px;
}

.search-input{
    font-size: 12pt;
    border: none ;
    background-color: transparent;
    width: 90%;
    height: 100%;
}

.status-conteiner{
    width: 15%;
}

.select-status{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
    background-color: #7171823d;
    height: 50px;
}

.books-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-conteiner{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
}


.box-info-container{
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.377);
}

.books-conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.book-info-container{
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    width: 228px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid grey;
}

.book-info-container p{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.774);
    margin-top: 10px;
}

.book-texts-container{
    width: 90%;
}

.book-cover-container{
    width: 90%;
}

.book-cover{
    height: 290px;
    width: 196px;
}

.book-title{
    font-size: 12pt;
}


@media screen and (max-width: 390px) {
    .search-conteiner{
        height: 70px;
        flex-direction: column;
        align-items: start;
    }

    .search-input-conteiner{
        width: 100%;
    }

    .select-status{
        width: 160px;
        margin: 20px 0;
    }

    .search-input{
        height: 50px;
    }  
      
    .books-conteiner{
        margin-top: 80px;
    }

    .nobooks-text{
        text-align: center;
    }

    .info-conteiner{
        padding-left: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .box-info-container{
        width: 80%;
    }
}

@media screen and (min-width : 391px) and (max-width: 420px) {
    .search-conteiner{
        height: 70px;
        flex-direction: column;
        align-items: start;
    }

    .search-input-conteiner{
        width: 100%;
    }

    .select-status{
        width: 160px;
        margin: 20px 0;
    }

    .search-input{
        height: 50px;
    }  
      
    .books-conteiner{
        margin-top: 80px;
    }
    
    .nobooks-text{
        text-align: center;
    }

    .info-conteiner{
        padding-left: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .box-info-container{
        width: 80%;
    }
}