.home-conteiner{
  padding: 50px 100px;
}

header{
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.header-logo{
  width: 19%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-name{
  font-size: 16pt;
  font-weight: 400;
}

.header-button{
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  width: 15%;
  height: 50px;
  display: flex;
  background-color: #000;
  color: white;
}